/* remove styling from links */
.tree a {
    color: #000000;
    text-decoration: none;
}

/* add hover effect */
.tree a:hover {
    color: #666666;
}

/* remove second directory icon */
.directory.fa.fa-folder-o:before{
    content: "";
}